body {
    margin: 0px;
    padding: 0px;
  }

 
  .header-wrapper {
    display: flex;
    // justify-content: space-between;
    justify-content: flex-start;
    position: relative;
    padding: 2rem;
    font-size: 15px;
    box-sizing: 0 2px 2px rgba(black, 0.2);
    flex-direction: row;
    text-align: center;
    align-items: center;

  
    .nav-wrapper {
      .navigation,
      .navigation a,
      .navigation a:hover,
      .navigation a:focus {
        padding: 5px 10px;
        text-decoration: none;
      }
    }
  }
  
  .logo {
    margin-left: 16px; /* Add a 2px right margin to create spacing */
    margin-top: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .logo.open{
    transform: translateX(-250px); /*width of the sidebar */
  }
  
  .activeClass {
    border-bottom: 1px solid red;
  }



.material-icons {
    font-family: 'Material Icons';
    font-weight: bold;
    font-size: 26px;  /* Preferred icon size */
    
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -300px;
    transition: left 0.3s ease;
    z-index: 2000; /*place above the overlay*/
    background-color: #fff;
  }

  .sidebar.open{
    left: 0;
    width: 300px;
   
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* place above content */
    display: none;
  }

  .overlay.active{
    display: block;
  }

  .app-name{
    margin-right: 150vh;
    flex-grow: 1;
    text-align: center;
  }

  .font1 {
    font-family: Papyrus;
    font-size: 30px;
    font-weight: bold;
    
  }
  
  .font2 {
    font-size: 28px;
    font-weight: bold;
  }

    .right-items {
      // display: flex;
      align-items: center; /* Optional: Align content vertically within the container */
     
    }
    

  .login{
   
    margin-right: 3vh; 
    background-color: #fff;    
    text-decoration: none;
  }

  .text_color{
    color: #000000;
    
  }

  .signup{
    margin-right: 15px;
    background-color: #000000;
    color: #fff; /* Add your desired text color */
  }
  .spanspace{
    margin-right: 5px;
    color: #000000;
  }

  .roundbtn{
      display: inline-block;
      padding: 12px 19px;
      border: none;
      border-radius: 50px; /* Adjust the value to control the roundness of the button */
      font-size: 18px; /* Add your desired font size */
      font-family: 'Roboto', sans-serif;

      cursor: pointer;
    }

    .sidebarBtnOne{
      margin-left: 22px;
      margin-top: 24px;
      width: 100%;
      
    
    }

    .sidebarBtnTwo
    {
      margin-left: 22px;
      margin-top: 10px;
      width: 100%;
    }


   .signup_sidebar 
   {
    position: relative;
    width: 28vh;
    height: 6vh;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    transition: background-color 0.3s ease;
    
   }

   .login_sidebar 
   {
    width: 28vh;
    height: 6vh;
    background-color: #EEEEEE;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    transition: background-color 0.3s ease;
   }

   .login_sidebar a{
    color: #000000;
    text-decoration: none;
   }

   .signup_sidebar a{
    color: #fff;
    text-decoration: none;
   }

  .list-container{
    margin-top: 26.5px;
  }

   .list-item a{
    color: #000000;    
    margin-left: 28px;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
   }
  
   .login_sidebar:hover {
    background-color:#c2c2c2;
  }
  
 
  .signup_sidebar:hover {
    background-color: #464646; /* Keep original background color */
  }
  

  .sidebar-bottom {
    position: absolute;
    bottom: 6vh; /* Adjust the distance from the bottom */
    width: 100%;
    display: block; /* Add flex display */
    justify-content: flex-start; /* Align content to the left margin */
    align-items: center; /* Vertically center align items */
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-text {
    margin-left: -20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
  }
  
  .uber-logo {
    max-width: 110px; /* Adjust the logo width as needed */
    width: auto;
    height: auto;
    margin-left: -19px;
  }

  .version{
    margin-top: 3px;
    margin-left: 28px;
    
  }

  .iphone, .android{
    border: none;
    border-radius: 20px;
    display: inline-block;
    padding: 11px 24px;
    background-color: #EEEEEE;
    color: #000000; /* Add your desired text color */
    cursor: pointer;
  }
  .android{
    margin-left: 11px;
  }